body{
  align-items: center;
}


.p-tag{
  margin-right: 15px;
}

.spanner{
  margin-left: 10px;
}

.tag{
  margin-left: 15px;
}

.searchbar{
  width: 40%;
  height: 30px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  outline: none;
}
.searchIcon{
  font-size: 20px ;
  margin-left: 10px;
}
.searchInput{
  border: none;
  width: 100%;
}

.searchInput:focus{
  outline: none;
}